/*
.h-box{
    -fx-background-color: black;
}

GridPane {
    -fx-background-color: black;
}

.table-view .table-column{
    -fx-background-color: gray;
}

GridPane Text{
    -fx-fill: #333333;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}
*/
